services:
  caddybuddy:
    image: giiibates/caddybuddy:${CADDYBUDDY_VERSION:-1.0.0}
    container_name: caddybuddy
    restart: unless-stopped

    environment:
      CB_SECRET_KEY: ${CB_SECRET_KEY:?Set CB_SECRET_KEY}
      TZ: ${TZ:-Etc/UTC}
      FORWARDED_ALLOW_IPS: "*"  # Set to your reverse-proxy IP(s) in production, e.g. 172.17.0.1
      CB_CADDY_CERTIFICATES_PATH: /var/lib/caddy/.local/share/caddy/certificates

    ports:
      - "127.0.0.1:8000:8000"

    volumes:
      - /etc/caddy/Caddyfile:/app/Caddyfile
      - ./data:/app/data
      - /var/lib/caddy/.local/share/caddy:/var/lib/caddy/.local/share/caddy

    extra_hosts:
      - "host.docker.internal:host-gateway"